# Documentación Kata 4

In [3]:
# "+" Se usa para concatenación
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [4]:
# El valor real no ha cambiado
fact

'The Moon has no atmosphere.'

In [5]:
# Así se asignaria en nuevo valor devuelto a una nueva variable
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [6]:
# Uso de comillas dobles
moon_radius = "The Moon has a radius of 1,080 miles"

#Uso de comillas simples cuando en la cadena de texto existen comillas dobles
'The "near side" is the part of the Moon that faces the Earth'

#En caso de solo una comilla simple hacer uso de comillas dobles
"We only see about 60% of the Moon's surface"

#Aplicar consistentemente para evitar errores. Se puede hacer uso de comillas triples en caso de requerir dobles y apostrofes
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

In [8]:
#Caracteres de nueva línea

multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [12]:
# Nueva línea con comillas triples
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
...  There is no atmosphere.
...  There is no sound.

## Metodos de cadena

In [13]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [14]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [15]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [16]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [17]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [18]:
'Moon' in 'This text will describe facts about the Moon'

True

In [21]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

temperatures.find('Moon') #Devuelve -1 cuando no encuentra la palabra buscada

-1

In [23]:
temperatures.find('Mars') #Devuelve la posición en la que se encuentra en la cadena

64

In [26]:
#Total de apariciones de la palabra buscada en la cadena
temperatures.count('Mars')

1

In [27]:
temperatures.count('Moon')

0

In [28]:
# Tip para buscar una palabra en una cadena es poner todo en minusculas dado que python diferencia entre mayus y minus
"The Moon And The Earth".lower()

'the moon and the earth'

In [29]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

In [31]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [32]:
# Con [-1] devuelve el ultimo elemento de la lista 
parts[-1]

' -60 C'

In [46]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

for item in mars_temperature.split():
    if item.isnumeric(): #Identifica si un elemento de la cadena es numerico, sin embargo si empieza con el síbolo "-" no funcionará
        print(item)

30

In [47]:
'-60'.startswith('-')

True

In [48]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

## Tranformación de Texto

In [49]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [50]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [51]:
'temperatures' in text.lower()

True

In [52]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

## Formato de cadenas Python

In [53]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [1]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [55]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [56]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [57]:
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [58]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [59]:
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [60]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'